####################################################################################################
#   __       __    _______  __    __  .___________.                         @@@@@@@                #
#  |  |     |  |  /  _____||  |  |  | |           |                        @@@@@@@@@               #
#  |  |     |  | |  |  __  |  |__|  | `---|  |----`                       @@@@@@@@@@@   @@@@@@@    #
#  |  |     |  | |  | |_ | |   __   |     |  |                            @@@@@@@@@@@  @@@@@@@@@   #
#  |  `----.|  | |  |__| | |  |  |  |     |  |                             @@@@@@@@@  @@@@@@@@@@@  #
#  |_______||__|  \______| |__|  |__|     |__|                               @@@@@@   @@@@@@@@@@@  #
#                                                                         @@@@@@@  @@  @@@@@@@@@   #
#  .___  ___.      ___   .___________.___________. _______ .______       @@@@@@@@@  @@  @@@@@@@    #
#  |   \/   |     /   \  |           |           ||   ____||   _  \     @@@@@@@@@@@  @@            #
#  |  \  /  |    /  ^  \ `---|  |----`---|  |----`|  |__   |  |_)  |    @@@@@@@@@@@  @@@@@@@@      #
#  |  |\/|  |   /  /_\  \    |  |        |  |     |   __|  |      /      @@@@@@@@@  @@@@@@@@@@@    #
#  |  |  |  |  /  _____  \   |  |        |  |     |  |____ |  |\  \----.  @@@@@@@   @@@@@@@@@@@    #
#  |__|  |__| /__/     \__\  |__|        |__|     |_______|| _| `._____|             @@@@@@@@@     #
#                                                                                     @@@@@@@      #
####################################################################################################
#                      Copyright © 2022 Lightmatter, Inc. All rights reserved.                     #
####################################################################################################

[alias]
        co = checkout
        stat = status
        st = status -uno
        ci = commit
        stasharoo = stash

[user]
	name = Tyler Kenney
	email = tyler@lightmatter.ai

[pull]
	ff = only
